<section class="container">
    <form [formGroup]="Cadastroform">

        <label for="name">Nome</label>
        <input type="text" id="name" formControlName="name" />

        <label for="usercode">Código do usuário</label>
        <input type="text" id="usercode" formControlName="usercode" />
      
        <label for="password">Senha</label>
        <input type="password" id="password" formControlName="password" />

        <label for="confirmPassword">Confirmar Senha</label>
        <input type="password" id="confirmPassword" formControlName="confirmPassword" />
      
        <button type="button" (click)="cadastrarOk()">Cadastrar</button>
    </form>
</section>
