.card {
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  padding: 20px;
  margin: 16px;
  text-align: center;
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
  background-color: #fff;
  position: relative;
  margin-top: 50px;
}

.card:hover {
  transform: translateY(-10px);
}

.card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.card-body {
  margin-top: 16px;
}

.card button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

.card button:hover {
  background-color: #0056b3;
}

.favorite-icon {

  color: red;
  font-size: 32px;
  position: absolute;
  top: -15px;
  right: -20px;
}
