footer {
    background-color: #d1d5d8;
    padding: 16px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  footer a {
    text-decoration: none;
    color: #007bff;
  }
  